name: Test Project
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Java setup
        uses: actions/setup-java@v5
        with:
          distribution: 'oracle'
          java-version: '25'
          #cache: gradle
      - name: Grant execute permission for Gradle on linux machine
        run: chmod +x ./gradlew
      - name: Run tests
        run: ./gradlew test
